# Google Python libraries
google-cloud-iam == 2.19.0 

google-cloud-billing == 1.16.2

google-cloud-secret-manager == 2.23.3

google-cloud-storageinsights == 0.1.15 

google-cloud-compute == 1.30.0 

google-cloud-access-approval == 1.16.1

google-cloud-bigquery == 3.32.0

google-cloud-bigtable == 2.30.1

google-cloud-dataproc == 5.18.1

google-cloud-datastore == 2.21.0

google-cloud-dns == 0.35.0 

google-cloud-error-reporting == 1.11.1

google-cloud-firestore == 2.20.2 

google-cloud-functions == 1.20.3

google-cloud-language == 2.17.1

google-cloud-logging == 3.12.1

google-cloud-monitoring == 2.27.1 

google-cloud-pubsub == 2.29.0 

google-cloud-resource-manager == 1.14.2 

google-cloud-runtimeconfig == 0.34.0 

google-cloud-redis == 2.18.1

google-cloud-storage-transfer == 1.16.1

google-cloud-service-directory == 1.14.2 

google-cloud-spanner == 3.54.0 

google-cloud-speech == 2.32.0 

google-cloud-storage == 3.1.0 

google-cloud-trace == 1.16.1

google-cloud-translate == 3.20.2

google-cloud-videointelligence == 2.16.1

google-cloud-vision == 3.10.1

google-cloud-netapp == 0.3.22 

# Google Groups Docs APIs - https://developers.google.com/docs/api/quickstart/python
# https://cloud.google.com/iam/docs/reference/libraries#iam-client-libraries-install-python (v1)
google-api-python-client == 2.169.0 

google-auth-httplib2 == 0.2.0 

google-auth-oauthlib == 1.2.2

# For errors https://developers.google.com/google-ads/api/docs/client-libs/python/dependencies
google-api-core == 2.24.2

# For generate_graph
matplotlib == 3.10.3
networkx == 3.4.2

requests == 2.32.3 

pandas == 2.2.3

beautifulsoup4==4.13.4 

PyYAML == 6.0.2

prettytable == 3.16.0
