# Google Python libraries
google-cloud-iam == 2.18.1 

google-cloud-billing == 1.16.1 

google-cloud-secret-manager == 2.23.1

google-cloud-storageinsights == 0.1.14 

google-cloud-compute == 1.26.0 

google-cloud-access-approval == 1.16.0

google-cloud-iot == 2.9.2 

google-cloud-bigquery == 3.30.0

google-cloud-bigtable == 2.29.0 

google-cloud-dataproc == 5.18.0

google-cloud-datastore == 2.20.2 

google-cloud-dns == 0.35.0 

google-cloud-error-reporting == 1.11.1

google-cloud-firestore == 2.20.1 

google-cloud-functions == 1.20.1

google-cloud-language == 2.17.0

google-cloud-logging == 3.11.4

google-cloud-monitoring == 2.27.0 

google-cloud-pubsub == 2.28.0 

google-cloud-resource-manager == 1.14.1 

google-cloud-runtimeconfig == 0.34.0 

google-cloud-redis == 2.18.0

google-cloud-storage-transfer == 1.16.0

google-cloud-service-directory == 1.14.1 

google-cloud-spanner == 3.52.0 

google-cloud-speech == 2.31.0 

google-cloud-storage == 3.1.0 

google-cloud-trace == 1.16.0

google-cloud-translate == 3.20.1

google-cloud-videointelligence == 2.16.0

google-cloud-vision == 3.10.0

google-cloud-netapp == 0.3.19 

# Google Groups Docs APIs - https://developers.google.com/docs/api/quickstart/python
# https://cloud.google.com/iam/docs/reference/libraries#iam-client-libraries-install-python (v1)
google-api-python-client == 2.163.0 

google-auth-httplib2 == 0.2.0 

google-auth-oauthlib == 1.2.1

# For errors https://developers.google.com/google-ads/api/docs/client-libs/python/dependencies
google-api-core == 2.24.1 

# For generate_graph
matplotlib == 3.10.1
networkx == 3.3

requests == 2.32.3 

pandas == 2.2.3

beautifulsoup4==4.12.3 

PyYAML == 6.0.2

prettytable == 3.15.1
